body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
}

.container {
    background-color: rgb(178, 205, 214);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    width: 30%;
}

#numb1{
    height: 30px;
    margin-top: 5px;
    display: block;
    border: none;
}

#btncheker {
    display: block;
    height: 30px;
    margin-top: 10px;
    background-color: rgb(15, 1, 71);
    color: white;
    border: none    ;
}
